@import 'footer.css';

:root {
  --link-color: #fc9;
  --link-color-hover: rgb(255, 214, 174);
  --mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --gap: 20px;
  --canvas-width: 1024px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: var(--mono);
  color: #fff; background: #000; margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 16px;
}

h3 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 8px;
}

p {
  line-height: 1.6;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

main {
  max-width: calc(var(--canvas-width) + calc(var(--gap) * 2));
  padding: var(--gap);
  margin: 20px auto 0;

  & canvas {
    display: block;
    max-width: 100%;
    margin: var(--gap) 0;
  }
}

.hidden {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
}