footer {
  scroll-snap-align: start;
  color: #fff;
  text-align: center;
  background: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8svh;
  min-height: 100vh;
  padding: 40px 20px 20px;
  display: flex;
  position: relative;
}

footer div {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 36px;
  display: flex;
}

footer div a {
  border-radius: 8px;
  padding: 6px;
  transition: transform .3s, background .3s;
  position: relative;
}

footer div a.github {
  border-radius: 50%;
  padding: 5px 6px 7px;
}

footer div a img {
  width: 64px;
  display: block;
}

footer div a img.codepen {
  width: 138px;
}

footer div a .label {
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 14px;
  transition: opacity .3s;
  display: block;
  position: absolute;
  top: calc(100% + 2px);
  left: -100px;
  right: -100px;
}

footer div a:focus {
  outline: none;
}

footer div a:focus-visible {
  background: #222;
  transform: scale(1.1);
}

footer div a:focus-visible .label {
  opacity: 1;
}

footer div a:hover {
  background: #222;
  transform: scale(1.1);
}

footer div a:hover .label {
  opacity: 1;
}

:root {
  --link-color: #155b98;
  --link-color-hover: #1c79ca;
  --mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  --gap: 20px;
  --canvas-width: 1024px;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  color: #333;
  background: #fff;
  margin: 0;
  font-family: system-ui, sans-serif;
}

h1 {
  margin: 4rem 0 0;
  font-size: 40px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 16px;
  font-size: 36px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 8px;
  font-size: 24px;
}

p {
  line-height: 1.6;
}

a, a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

main {
  max-width: calc(var(--canvas-width)  + calc(var(--gap) * 2));
  padding: var(--gap);
  background: #fff;
  min-height: 100vh;
  margin: 20px auto 0;
}

main canvas {
  margin: var(--gap) 0 0;
  background: #000026;
  max-width: 100%;
  display: block;
}

.hidden {
  clip: rect(0px, 0px, 0px, 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

.subtitle {
  margin-top: calc(var(--gap) / 4);
  color: #666;
  font-size: 19px;
  font-weight: 200;
}

.error-box > div {
  padding: 0 var(--gap);
  margin: calc(var(--gap) * 2) 0;
  background: #fdd;
  border: 1px solid #c00;
  border-radius: 4px;
}

.error-box > div > h3 {
  color: #c00;
  font-size: 20px;
}

.error-box > div > h3:first-of-type {
  margin-top: var(--gap);
}

.error-box > div:not(.visible) {
  display: none;
}

.stats {
  margin-top: calc(var(--gap) * -1.4);
  padding-left: calc(var(--gap) * .6);
  color: #fff;
  font-size: 14px;
  font-family: var(--mono);
  transition: opacity .3s;
}

.stats #fps {
  font-weight: bold;
}

.stats:has( > :empty) {
  display: none;
}

/*# sourceMappingURL=index.ba2fd247.css.map */
